.header {
  min-width: 1140px;
  z-index: var(--z-index-header);
  position: sticky;
  top: 0;

  border-bottom: 1px solid var(--color-max);

  backdrop-filter: blur(16px); // 수정된 부분
  -webkit-backdrop-filter: blur(16px); // Safari 지원을 위해

  --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);

  transition:
    background-color 0.2s var(--transition-curve),
    box-shadow 0.2s var(--transition-curve),
    color 0.2s var(--transition-curve),
    transform 0.4s var(--transition-curve);

  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .logo {
    img {
      height: 40px;
    }
    span {
      @include text-style-title-l-20-b;
    }
  }

  .actions {
    button {
      @include button('medium', 'secondary');
      & {
        @include text-style-title-m-14-b;
        min-width: 80px;
      }
    }
  }
}
