$color-core-sub-white: rgba(255, 255, 255, 1);
$color-core-sub-black: rgba(0, 0, 0, 1);
$color-core-sub-fill: rgba(255, 0, 205, 1);
$color-core-sub-fill-light: rgba(255, 178, 240, 1);
$color-core-dark-semantic-background: rgba(0, 0, 0, 1);
$color-core-dark-semantic-brand: rgba(13, 153, 255, 1);
$color-core-dark-semantic-error: rgba(230, 77, 70, 1);
$color-core-dark-semantic-primary-text: rgba(245, 245, 246, 1);
$color-core-dark-dimmed-50: rgba(0, 0, 0, 0.9);
$color-core-dark-dimmed-100: rgba(0, 0, 0, 0.7);
$color-core-dark-dimmed-200: rgba(0, 0, 0, 0.5);
$color-core-dark-dimmed-300: rgba(0, 0, 0, 0.3);
$color-core-dark-dimmed-400: rgba(0, 0, 0, 0.1);
$color-core-dark-grey-50: rgba(7, 7, 8, 1);
$color-core-dark-grey-100: rgba(17, 18, 21, 1);
$color-core-dark-grey-200: rgba(23, 25, 28, 1);
$color-core-dark-grey-250: rgba(33, 35, 40, 1);
$color-core-dark-grey-300: rgba(49, 51, 58, 1);
$color-core-dark-grey-400: rgba(64, 66, 75, 1);
$color-core-dark-grey-500: rgba(87, 89, 101, 1);
$color-core-dark-grey-600: rgba(117, 120, 132, 1);
$color-core-dark-grey-700: rgba(153, 156, 166, 1);
$color-core-dark-grey-800: rgba(196, 199, 204, 1);
$color-core-dark-grey-900: rgba(225, 229, 235, 1);
$color-core-dark-blue-50: rgba(6, 74, 172, 1);
$color-core-dark-blue-100: rgba(11, 104, 203, 1);
$color-core-dark-blue-200: rgba(12, 122, 221, 1);
$color-core-dark-blue-300: rgba(14, 140, 241, 1);
$color-core-dark-blue-400: rgba(13, 153, 255, 1);
$color-core-dark-blue-500: rgba(59, 169, 255, 1);
$color-core-dark-blue-600: rgba(97, 185, 255, 1);
$color-core-dark-blue-700: rgba(143, 205, 255, 1);
$color-core-dark-blue-800: rgba(187, 224, 255, 1);
$color-core-dark-blue-900: rgba(227, 243, 254, 1);
$color-core-dark-red-50: rgba(171, 42, 42, 1);
$color-core-dark-red-100: rgba(187, 50, 52, 1);
$color-core-dark-red-200: rgba(200, 56, 59, 1);
$color-core-dark-red-300: rgba(218, 65, 65, 1);
$color-core-dark-red-400: rgba(230, 77, 70, 1);
$color-core-dark-red-500: rgba(228, 88, 90, 1);
$color-core-dark-red-600: rgba(219, 118, 121, 1);
$color-core-dark-red-700: rgba(231, 155, 158, 1);
$color-core-dark-red-800: rgba(249, 206, 212, 1);
$color-core-dark-red-900: rgba(252, 235, 239, 1);
$color-core-dark-orange-50: rgba(178, 64, 0, 1);
$color-core-dark-orange-100: rgba(204, 73, 0, 1);
$color-core-dark-orange-200: rgba(219, 79, 0, 1);
$color-core-dark-orange-300: rgba(240, 88, 0, 1);
$color-core-dark-orange-400: rgba(255, 92, 0, 1);
$color-core-dark-orange-500: rgba(255, 115, 36, 1);
$color-core-dark-orange-600: rgba(255, 141, 77, 1);
$color-core-dark-orange-700: rgba(255, 173, 128, 1);
$color-core-dark-orange-800: rgba(255, 206, 178, 1);
$color-core-dark-orange-900: rgba(255, 239, 229, 1);
$color-core-dark-mint-50: rgba(0, 97, 91, 1);
$color-core-dark-mint-100: rgba(0, 117, 111, 1);
$color-core-dark-mint-200: rgba(0, 133, 126, 1);
$color-core-dark-mint-300: rgba(0, 148, 139, 1);
$color-core-dark-mint-400: rgba(0, 175, 165, 1);
$color-core-dark-mint-500: rgba(10, 194, 183, 1);
$color-core-dark-mint-600: rgba(44, 206, 197, 1);
$color-core-dark-mint-700: rgba(116, 220, 214, 1);
$color-core-dark-mint-800: rgba(161, 237, 233, 1);
$color-core-dark-mint-900: rgba(212, 247, 245, 1);
$color-core-dark-purple-50: rgba(61, 3, 183, 1);
$color-core-dark-purple-100: rgba(75, 33, 195, 1);
$color-core-dark-purple-200: rgba(88, 39, 210, 1);
$color-core-dark-purple-300: rgba(100, 50, 222, 1);
$color-core-dark-purple-400: rgba(109, 56, 235, 1);
$color-core-dark-purple-500: rgba(132, 81, 255, 1);
$color-core-dark-purple-600: rgba(150, 106, 255, 1);
$color-core-dark-purple-700: rgba(169, 133, 255, 1);
$color-core-dark-purple-800: rgba(188, 160, 255, 1);
$color-core-dark-purple-900: rgba(208, 191, 255, 1);
$color-core-dark-violet-50: rgba(94, 0, 138, 1);
$color-core-dark-violet-100: rgba(121, 0, 177, 1);
$color-core-dark-violet-200: rgba(143, 10, 205, 1);
$color-core-dark-violet-300: rgba(161, 21, 227, 1);
$color-core-dark-violet-400: rgba(178, 43, 241, 1);
$color-core-dark-violet-500: rgba(194, 66, 255, 1);
$color-core-dark-violet-600: rgba(197, 94, 245, 1);
$color-core-dark-violet-700: rgba(207, 122, 248, 1);
$color-core-dark-violet-800: rgba(215, 147, 246, 1);
$color-core-dark-violet-900: rgba(227, 182, 249, 1);
$color-core-dark-gradient-blue-400: linear-gradient(to bottom);
$color-core-dark-gradient-blue-cta: linear-gradient(to bottom);
$color-core-dark-button-primary-50: rgba(12, 122, 221, 1);
$color-core-dark-button-primary-100: rgba(14, 140, 241, 1);
$color-core-dark-button-primary-200: rgba(59, 169, 255, 1);
$color-core-dark-button-secondary-50: rgba(33, 35, 40, 1);
$color-core-dark-button-secondary-100: rgba(49, 51, 58, 1);
$color-core-dark-button-secondary-200: rgba(64, 66, 75, 1);
$color-core-dark-button-secondary-300: rgba(87, 89, 101, 1);
$color-core-dark-button-warning-50: rgba(218, 65, 65, 1);
$color-core-dark-button-warning-100: rgba(230, 77, 70, 1);
$color-core-dark-button-warning-200: rgba(228, 88, 90, 1);
$color-core-dark-button-disabled: rgba(49, 51, 58, 1);
$color-core-dark-container-50: rgba(7, 7, 8, 1);
$color-core-dark-container-100: rgba(17, 18, 21, 1);
$color-core-dark-container-200: rgba(23, 25, 28, 1);
$color-core-dark-container-250: rgba(33, 35, 40, 1);
$color-core-dark-container-300: rgba(49, 51, 58, 1);
$color-core-dark-container-border-50: rgba(7, 7, 8, 1);
$color-core-dark-container-border-100: rgba(17, 18, 21, 1);
$color-core-dark-container-border-200: rgba(23, 25, 28, 1);
$color-core-dark-container-border-250: rgba(33, 35, 40, 1);
$color-core-dark-container-border-300: rgba(49, 51, 58, 1);
$color-core-dark-container-border-400: rgba(64, 66, 75, 1);
$color-core-light-semantic-background: rgba(255, 255, 255, 1);
$color-core-light-semantic-brand: rgba(13, 153, 255, 1);
$color-core-light-semantic-error: rgba(217, 90, 94, 1);
$color-core-light-semantic-primary-text: rgba(17, 18, 21, 1);
$color-core-light-dimmed-50: rgba(0, 0, 0, 0.1);
$color-core-light-dimmed-100: rgba(0, 0, 0, 0.3);
$color-core-light-dimmed-200: rgba(0, 0, 0, 0.5);
$color-core-light-dimmed-300: rgba(0, 0, 0, 0.7);
$color-core-light-dimmed-400: rgba(0, 0, 0, 0.9);
$color-core-light-grey-50: rgba(253, 253, 253, 1);
$color-core-light-grey-100: rgba(250, 250, 250, 1);
$color-core-light-grey-200: rgba(247, 247, 248, 1);
$color-core-light-grey-250: rgba(236, 237, 238, 1);
$color-core-light-grey-300: rgba(212, 214, 218, 1);
$color-core-light-grey-400: rgba(202, 204, 208, 1);
$color-core-light-grey-500: rgba(168, 170, 175, 1);
$color-core-light-grey-600: rgba(123, 123, 133, 1);
$color-core-light-grey-700: rgba(95, 95, 103, 1);
$color-core-light-grey-800: rgba(33, 34, 36, 1);
$color-core-light-grey-900: rgba(7, 7, 8, 1);
$color-core-light-blue-50: rgba(227, 243, 254, 1);
$color-core-light-blue-100: rgba(187, 224, 255, 1);
$color-core-light-blue-200: rgba(118, 190, 249, 1);
$color-core-light-blue-300: rgba(57, 160, 244, 1);
$color-core-light-blue-400: rgba(36, 151, 242, 1);
$color-core-light-blue-500: rgba(14, 140, 241, 1);
$color-core-light-blue-600: rgba(12, 122, 221, 1);
$color-core-light-blue-700: rgba(11, 104, 203, 1);
$color-core-light-blue-800: rgba(6, 74, 172, 1);
$color-core-light-blue-900: rgba(2, 59, 139, 1);
$color-core-light-red-50: rgba(253, 242, 244, 1);
$color-core-light-red-100: rgba(251, 222, 226, 1);
$color-core-light-red-200: rgba(240, 184, 186, 1);
$color-core-light-red-300: rgba(231, 152, 154, 1);
$color-core-light-red-400: rgba(237, 124, 127, 1);
$color-core-light-red-500: rgba(241, 110, 102, 1);
$color-core-light-red-600: rgba(230, 100, 99, 1);
$color-core-light-red-700: rgba(217, 90, 94, 1);
$color-core-light-red-800: rgba(208, 84, 86, 1);
$color-core-light-red-900: rgba(196, 74, 74, 1);
$color-core-light-orange-50: rgba(254, 239, 231, 1);
$color-core-light-orange-100: rgba(251, 208, 182, 0.85);
$color-core-light-orange-200: rgba(249, 170, 124, 1);
$color-core-light-orange-300: rgba(246, 135, 70, 1);
$color-core-light-orange-400: rgba(244, 106, 26, 1);
$color-core-light-orange-500: rgba(238, 95, 11, 1);
$color-core-light-orange-600: rgba(229, 91, 11, 1);
$color-core-light-orange-700: rgba(209, 83, 10, 1);
$color-core-light-orange-800: rgba(190, 75, 9, 1);
$color-core-light-orange-900: rgba(170, 68, 8, 1);
$color-core-light-mint-50: rgba(180, 243, 239, 1);
$color-core-light-mint-100: rgba(130, 227, 221, 1);
$color-core-light-mint-200: rgba(37, 203, 191, 1);
$color-core-light-mint-300: rgba(16, 177, 167, 1);
$color-core-light-mint-400: rgba(15, 163, 153, 1);
$color-core-light-mint-500: rgba(14, 149, 140, 1);
$color-core-light-mint-600: rgba(17, 136, 128, 1);
$color-core-light-mint-700: rgba(12, 126, 118, 1);
$color-core-light-mint-800: rgba(10, 112, 105, 1);
$color-core-light-mint-900: rgba(15, 98, 92, 1);
$color-core-light-purple-50: rgba(243, 236, 255, 1);
$color-core-light-purple-100: rgba(221, 207, 255, 1);
$color-core-light-purple-200: rgba(191, 164, 255, 1);
$color-core-light-purple-300: rgba(163, 124, 255, 1);
$color-core-light-purple-400: rgba(137, 88, 255, 1);
$color-core-light-purple-500: rgba(124, 72, 250, 1);
$color-core-light-purple-600: rgba(112, 60, 240, 1);
$color-core-light-purple-700: rgba(100, 50, 222, 1);
$color-core-light-purple-800: rgba(88, 39, 210, 1);
$color-core-light-purple-900: rgba(72, 29, 195, 1);
$color-core-light-violet-50: rgba(255, 232, 255, 1);
$color-core-light-violet-100: rgba(247, 200, 255, 1);
$color-core-light-violet-200: rgba(232, 168, 254, 1);
$color-core-light-violet-300: rgba(212, 121, 255, 1);
$color-core-light-violet-400: rgba(199, 77, 255, 1);
$color-core-light-violet-500: rgba(185, 52, 248, 1);
$color-core-light-violet-600: rgba(175, 31, 245, 1);
$color-core-light-violet-700: rgba(157, 4, 232, 1);
$color-core-light-violet-800: rgba(135, 0, 201, 1);
$color-core-light-violet-900: rgba(99, 0, 148, 1);
$color-core-light-gradient-blue-400: linear-gradient(to bottom);
$color-core-light-container-50: rgba(255, 255, 255, 1);
$color-core-light-container-100: rgba(255, 255, 255, 1);
$color-core-light-container-200: rgba(255, 255, 255, 1);
$color-core-light-container-250: rgba(255, 255, 255, 1);
$color-core-light-container-300: rgba(255, 255, 255, 1);
$color-core-light-container-border-50: rgba(233, 233, 236, 1);
$color-core-light-container-border-100: rgba(233, 233, 236, 1);
$color-core-light-container-border-200: rgba(233, 233, 236, 1);
$color-core-light-container-border-250: rgba(233, 233, 236, 1);
$color-core-light-container-border-300: rgba(212, 214, 218, 1);
$color-core-light-container-border-400: rgba(202, 204, 208, 1);
$color-core-light-button-primary-50: rgba(14, 140, 241, 1);
$color-core-light-button-primary-100: rgba(36, 151, 242, 1);
$color-core-light-button-primary-200: rgba(57, 160, 244, 1);
$color-core-light-button-secondary-50: rgba(247, 247, 248, 1);
$color-core-light-button-secondary-100: rgba(236, 237, 238, 1);
$color-core-light-button-secondary-200: rgba(212, 214, 218, 1);
$color-core-light-button-secondary-300: rgba(202, 204, 208, 1);
$color-core-light-button-warning-50: rgba(217, 90, 94, 1);
$color-core-light-button-warning-100: rgba(230, 100, 99, 1);
$color-core-light-button-warning-200: rgba(237, 124, 127, 1);
$color-core-light-button-disabled: rgba(236, 237, 238, 1);
